*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #003d4e;
}
h1{
    font-weight: 700;
    color: #e4d4b9;
}
.posts{
    color: #000;
    width: 90%;
    max-width: 900px;
    background-color: #e4d4b9;
    border-radius: 0.4rem;
    margin: 0.4rem auto;
    padding: 0.8rem;
}
.user{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 700;
}
.content{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}