@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #003d4e;
}
h1{
    font-weight: 700;
    color: #e4d4b9;
}
.posts{
    color: #000;
    width: 90%;
    max-width: 900px;
    background-color: #e4d4b9;
    border-radius: 0.4rem;
    margin: 0.4rem auto;
    padding: 0.8rem;
}
.user{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 700;
}
.content{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
svg image{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

#newpost{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#newpost a{
    width: 8rem;
    height: 2rem;
    color: white;
    text-decoration: none;
    background-color: #047EBF;
    padding: 0.8rem;
    border-radius: 1rem;
}

.read-more a{
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 1rem;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #003d4e;
    box-shadow: 4px 5px #837d7d;

}
.read-more{
    display: flex;
    justify-content: right;
}